MySewingMall Database & Product Enrichment.json
{
  "name": "MySewingMall Database & Product Enrichment",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4432,
        720
      ],
      "id": "77a63c89-4ff9-42ad-975e-f07682e20060",
      "name": "Merge"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -112,
        1024
      ],
      "id": "dded0b5a-2ffe-462e-a97f-8ee33a1fd76c",
      "name": "Weekly Trigger"
    },
    {
      "parameters": {
        "url": "https://mysewingmall.com/sitemap_products_1.xml?from=7645236068601&to=8933386780921",
        "options": {}
      },
      "id": "a3feb097-2994-46af-b153-bb703191b07f",
      "name": "Get MySewingMall Sitemap",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        112,
        1024
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "1936b471-a2aa-4aa5-a344-0b99ecabe7eb",
      "name": "XML to JSON",
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        336,
        1024
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "urlset.url",
        "options": {}
      },
      "id": "b5f9fb64-82c5-42c9-a389-ebcc93c9ddb3",
      "name": "Split URLs",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        560,
        1024
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "loc",
              "value": "={{ $json.loc }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a8a4330d-be9a-44c9-9ed3-f9b599a0e105",
      "name": "Clean Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        784,
        1024
      ]
    },
    {
      "parameters": {
        "jsCode": "// 1. Define the list of target brands (keywords to look for in the URL)\nconst targetBrands = [\n  \"ricoma\",\n  \"juki\",\n  \"wilcom\",\n  \"jack\",     // Matches 'jack-sewing', 'jack-f4', etc.\n  \"melco\",\n  \"janome\",\n  \"meifu\",\n  \"organ\",    // Matches 'organ-needles'\n  \"seiko\",\n  \"singer\",\n  \"eisenkolb\",\n  \"brother\",\n  \"epson\"\n];\n\n// 2. Filter the input items\nconst filteredItems = $input.all().filter(item => {\n  // Get the URL from the 'loc' field, ensure it's lowercase for matching\n  const url = (item.json.loc || \"\").toLowerCase();\n\n  // 3. Check if ANY of the target brands exist inside this URL\n  const hasBrand = targetBrands.some(brand => url.includes(brand));\n\n  return hasBrand;\n});\n\nreturn filteredItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        1024
      ],
      "id": "d75275b4-6d85-4423-8af5-fca5439380fd",
      "name": "Filter Valid Products"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1456,
        1024
      ],
      "id": "2b75e81c-f6d9-46c6-ab78-f1dada801a01",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "value": "quflidSPqqugtC62",
          "mode": "list",
          "cachedResultName": "MySewingMall Products",
          "cachedResultUrl": "/projects/VJoOabvX8ejRGlpp/datatables/quflidSPqqugtC62"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "source_url",
              "keyValue": "={{ $json.loc }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1680,
        528
      ],
      "id": "83ab0c93-8144-4ee3-9920-8d55ae6204c1",
      "name": "Already Pushed?",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e9693e3c-a984-4688-b172-9e6a512d77b9",
              "leftValue": "={{ $json.loc }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1904,
        528
      ],
      "id": "b77ac7c0-df17-4d8f-a8bf-a3b0371db64f",
      "name": "Not Pushed?"
    },
    {
      "parameters": {
        "url": "={{ $json.loc }}",
        "options": {}
      },
      "id": "c0f686e7-d54c-43b7-91a9-e7608eecd0be",
      "name": "Fetch Product Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2128,
        528
      ]
    },
    {
      "parameters": {
        "jsCode": "// 1. Retrieve the raw text safely\nconst rawText = $input.first().json.data || '';\n\n// 2. Define the cleaning logic\nconst cleanText = (text) => {\n  if (typeof text !== 'string') return text;\n\n  return text\n    // 1. Remove HTML tags\n    .replace(/<[^>]*>/g, ' ')\n\n    // 2. Remove Markdown code blocks\n    .replace(/```[\\s\\S]*?```/g, ' ')\n\n    // 3. Remove URLs/Links\n    .replace(/https?:\\/\\/[^\\s]+/g, '')\n\n    // --- NEW: Remove Script/System Noise ---\n\n    // 4. Remove CSS Variables (e.g., --color-background, --gradient)\n    .replace(/--[\\w-]+/g, ' ')\n\n    // 5. Remove Object Chains (e.g., window.dataLayer, Shopify.theme, performance.mark)\n    .replace(/\\b(window|document|Shopify|dataLayer|console|performance)\\.[\\w\\.]+/g, ' ')\n\n    // 6. Remove JS Keywords & Values (e.g., var, function, true, null, await)\n    .replace(/\\b(var|let|const|function|return|if|else|try|catch|await|import|export|true|false|null|undefined|void|typeof)\\b/g, ' ')\n\n    // 7. Remove File extensions often found in code dumps (e.g., .js, .css, .esm)\n    .replace(/\\b[\\w-]+\\.(js|css|esm|json)\\b/g, ' ')\n\n    // --- End New Filters ---\n\n    // 8. Remove code syntax characters (brackets, parens, equals, colons, semi-colons)\n    .replace(/[\\{\\}\\[\\]\\(\\)=:;]/g, ' ')\n\n    // 9. Remove special characters (Keep only: Alphanumeric, spaces, basic punctuation, currency symbols)\n    // Added % and $ to keep pricing/specs valid\n    .replace(/[^a-zA-Z0-9\\s.,?!'\"%$-]/g, ' ')\n\n    // 10. Collapse multiple spaces/newlines into a single space\n    .replace(/\\s+/g, ' ')\n    .trim();\n};\n\n// 3. Execute and return\nreturn {\n  json: {\n    cleaned_text: cleanText(rawText)\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2352,
        528
      ],
      "id": "3f6a8622-078f-4b30-aecc-f193128def62",
      "name": "Filter Unwanted HTML"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "GPT-5-NANO"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=You are an industrial product data normalization engine.\n\nYour task is to extract, infer, normalize, and validate machine product data for insertion into a PostgreSQL database.\n\n### CORE EXTRACTION RULES\n1.  **Extract All Available Data:** Read the provided \"Cleaned Text\" thoroughly. If a data point exists, extract it.\n2.  **Pricing:**\n    * `listed_price`: Extract the main price listed on the website.\n    * **Format:** Extract as a raw number (e.g., 1250.00). Strip all currency symbols ($, €, £).\n    * `currency`: Extract the currency code (e.g., \"USD\", \"EUR\") if present.\n3.  **Part System Code:** Extract the specific Manufacturer Model Code (e.g., \"DDL-8700\" -> \"DDL8700\"). Strip spaces and dashes.\n4.  **SKU Generation:** If SKU is missing, generate it: `{BRAND}-{MODEL}-{DESIGNATION}` (Uppercase, No Spaces).\n5.  **Smart Inference (Text Fields):** You may infer standard text attributes (like `feed_mechanism` or `stitch_type`) if the description strongly implies them (e.g., \"Industrial straight stitcher\" -> `stitch_type: \"Lockstitch\"`).\n\n### STRICT VALIDATION RULES (Do Not Break)\n-   **Dimensions & Weight:** NEVER hallucinate numeric measurements. If the text does not explicitly state weight/size, return `null`.\n-   **Units:** Convert all weights to **kg** and dimensions to **cm**.\n-   **Output Format:** Return ONLY valid, minified JSON. No markdown, no comments.\n\n### SCHEMA DEFINITIONS\n-   **compatible_models:** Array of strings. Includes accessories, needle systems, or foot types mentioned.\n-   **product_designation:** Short descriptor (e.g., \"Heavy Duty\", \"Industrial\", \"Walking Foot\")."
            },
            {
              "content": "=Extract and normalize the following product data into the target schema.\n\n### SOURCE DATA\n**Product Data (Cleaned Text):**\n{{ $json.cleaned_text }}\n\n**Source URL:**\n{{ $('Loop Over Items').item.json.loc }}\n\n### TARGET DATABASE SCHEMA (Return specific JSON structure)\n{\n  \"sku\": \"string\",\n  \"product_name\": \"string\",\n  \"brand_name\": \"string\",\n  \"model_num\": \"string\",\n  \"product_designation\": \"string\",\n  \"is_active\": true,\n\n  \"listed_price\": \"number | null\",\n  \"currency\": \"string | null\",\n\n  \"net_weight_kg\": \"number | null\",\n  \"prod_length_cm\": \"number | null\",\n  \"prod_width_cm\": \"number | null\",\n  \"prod_height_cm\": \"number | null\",\n\n  \"gross_weight_kg\": \"number | null\",\n  \"pkg_length_cm\": \"number | null\",\n  \"pkg_width_cm\": \"number | null\",\n  \"pkg_height_cm\": \"number | null\",\n  \"ships_on_pallet\": false,\n\n  \"emb_needle_count\": \"number | null\",\n  \"emb_head_count\": \"number | null\",\n  \"stitch_type\": \"string | null\",\n  \"feed_mechanism\": \"string | null\",\n  \"max_speed_spm\": \"number | null\",\n  \"motor_type\": \"string | null\",\n  \"voltage\": \"string | null\",\n\n  \"part_system_code\": \"string | null\",\n  \"tip_type\": \"string | null\",\n  \"compatible_models\": [\"string\"],\n\n  \"source_url\": \"{{ $('Loop Over Items').item.json.loc }}\",\n  \"last_scraped_at\": \"AUTO_NOW\"\n}\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_schema",
              "name": "product_data",
              "schema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"sku\": { \"type\": \"string\" },\n    \"product_name\": { \"type\": \"string\" },\n    \"brand_name\": { \"type\": \"string\" },\n    \"model_num\": { \"type\": [\"string\", \"null\"] },\n    \"product_designation\": { \"type\": \"string\" },\n    \"is_active\": { \"type\": \"boolean\" },\n\n    \"listed_price\": { \"type\": [\"number\", \"null\"] },\n    \"currency\": { \"type\": [\"string\", \"null\"] },\n\n    \"gross_weight_kg\": { \"type\": [\"number\", \"null\"] },\n    \"pkg_length_cm\": { \"type\": [\"number\", \"null\"] },\n    \"pkg_width_cm\": { \"type\": [\"number\", \"null\"] },\n    \"pkg_height_cm\": { \"type\": [\"number\", \"null\"] },\n    \"ships_on_pallet\": { \"type\": \"boolean\" },\n\n    \"net_weight_kg\": { \"type\": [\"number\", \"null\"] },\n    \"prod_length_cm\": { \"type\": [\"number\", \"null\"] },\n    \"prod_width_cm\": { \"type\": [\"number\", \"null\"] },\n    \"prod_height_cm\": { \"type\": [\"number\", \"null\"] },\n\n    \"emb_needle_count\": { \"type\": [\"integer\", \"null\"] },\n    \"emb_head_count\": { \"type\": [\"integer\", \"null\"] },\n    \"stitch_type\": { \"type\": [\"string\", \"null\"] },\n    \"feed_mechanism\": { \"type\": [\"string\", \"null\"] },\n    \"max_speed_spm\": { \"type\": [\"integer\", \"null\"] },\n    \"motor_type\": { \"type\": [\"string\", \"null\"] },\n    \"voltage\": { \"type\": [\"string\", \"null\"] },\n\n    \"part_system_code\": { \"type\": [\"string\", \"null\"] },\n    \"tip_type\": { \"type\": [\"string\", \"null\"] },\n    \"compatible_models\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" }\n    },\n\n    \"source_url\": { \"type\": \"string\" },\n    \"last_scraped_at\": { \"type\": \"string\" }\n  },\n  \"additionalProperties\": false,\n  \"required\": [\n    \"sku\",\n    \"product_name\",\n    \"brand_name\",\n    \"model_num\",\n    \"product_designation\",\n    \"is_active\",\n    \"listed_price\",\n    \"currency\",\n    \"gross_weight_kg\",\n    \"pkg_length_cm\",\n    \"pkg_width_cm\",\n    \"pkg_height_cm\",\n    \"ships_on_pallet\",\n    \"net_weight_kg\",\n    \"prod_length_cm\",\n    \"prod_width_cm\",\n    \"prod_height_cm\",\n    \"emb_needle_count\",\n    \"emb_head_count\",\n    \"stitch_type\",\n    \"feed_mechanism\",\n    \"max_speed_spm\",\n    \"motor_type\",\n    \"voltage\",\n    \"part_system_code\",\n    \"tip_type\",\n    \"compatible_models\",\n    \"source_url\",\n    \"last_scraped_at\"\n  ]\n}"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        2576,
        528
      ],
      "id": "663fefc9-78c0-4e28-9f24-ae557debb070",
      "name": "Generate base fields - GPT",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "fKqqttJzIvVUpQSk",
          "name": "Tariq's OpenAI"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "=={{ $json.output[0].content[0].text.brand_name }} {{ $json.output[0].content[0].text.model_num }} instruction manual filetype:pdf"
            },
            {
              "name": "num",
              "value": "20"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-KEY",
              "value": "e79de46eb325ac80a4d68efd5b153d5ab0a2c1b0"
            }
          ]
        },
        "options": {}
      },
      "id": "0cc76cf0-9f37-4f90-b308-bd1c50a8a59f",
      "name": "Find Manual PDF - Serper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2928,
        368
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "responses": {
          "values": [
            {
              "content": "=I need you to select the single best URL for the User Manual (PDF preferred) from the search results below.\n\nProduct Details:\n- Name: {{ $('Generate base fields - GPT').item.json.output[0].content[0].text.product_name }}\n- Model: {{ $('Generate base fields - GPT').item.json.output[0].content[0].text.model_num }}\n\nSearch Results to Analyze:\n{{ $json.organic.toJsonString() }}\n\nSelection Logic (In Order of Priority):\n1. **Official Manufacturer PDF:** A link from the official brand domain (e.g., janome.com, juki.com) that ends in `.pdf`.\n2. **Official Support Page:** A download page on the manufacturer's official site.\n3. **Reputable Repository:** If no official link exists, use `manualslib.com`.\n4. **Avoid:** Do NOT select Amazon, eBay, or generic sales sites.\n\nOutput Format:\nReturn ONLY the raw URL string.\nDo not include JSON formatting.\nDo not include markdown (no ``` code blocks).\nIf nothing is found, return the word: null"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        3152,
        368
      ],
      "id": "dd647145-99d1-49d6-b64b-5ca193a5b752",
      "name": "Get best User-Manual",
      "credentials": {
        "openAiApi": {
          "id": "fKqqttJzIvVUpQSk",
          "name": "Tariq's OpenAI"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.output[0].content[0].text }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3584,
        368
      ],
      "id": "edb48da6-a984-4d46-911b-6182cf620666",
      "name": "Download PDF file",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// 1. GET GEMINI DATA (Technical Specs)\n// ------------------------------------\n// We try two paths to ensure it works whether you use the HTTP Node OR the AI Chain Node\nconst inputJson = $input.item.json;\nlet rawContent =$('Enrich Details Using Gemini').first().json.content.parts[0].text; // Path for HTTP Request Node (Gemini API)\n\nif (!rawContent) {\n  // Path for n8n standard AI/LangChain Nodes\n  rawContent = inputJson.output?.[0]?.content?.[0]?.text || inputJson.text || \"\";\n}\n\n// Clean the Markdown (Remove ```json ... ```)\nconst cleanJsonString = rawContent\n  .replace(/^```json\\s*/i, \"\")\n  .replace(/\\s*```$/, \"\")\n  .trim();\n\nlet productData = {};\ntry {\n  productData = JSON.parse(cleanJsonString);\n} catch (e) {\n  // If JSON fails, return raw text to help debug\n  return { json: { error: \"JSON Parse Failed\", raw: rawContent } };\n}\n\n\n// 2. GET MANUAL URL (From \"Get best User-Manual1\")\n// ------------------------------------\n// We use $('NodeName').item to grab the data from that specific previous step.\nlet manualUrl = null;\n\ntry {\n  // Adjust \".url\" below to match the exact field name coming out of your Manual node\n  // Common names: 'url', 'link', 'source_url', 'manual_url'\n  const manualNodeData = $('Get best User-Manual').item.json;\n  manualUrl = manualNodeData.url || manualNodeData.manual_url || manualNodeData.link || null;\n} catch (error) {\n  console.log(\"Could not find manual node data. defaulting to null.\");\n}\n\n\n// 3. MERGE AND RETURN\n// ------------------------------------\n// We add the manual URL to the Gemini data\nproductData.manual_url = manualUrl;\n\nreturn {\n  json: productData\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4784,
        720
      ],
      "id": "a7b5555d-1d1d-4f83-9b74-32c00002f770",
      "name": "Format JSON"
    },
    {
      "parameters": {
        "content": "# MySewingMall - Product DB & Enrichment & Vector Storage",
        "height": 1488,
        "width": 5376,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -192,
        16
      ],
      "id": "eb220b29-601b-47b4-97c3-ad2097e67ed3",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "mysewingmall",
          "mode": "list",
          "cachedResultName": "mysewingmall"
        },
        "options": {
          "pineconeNamespace": "MySewingMall"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        4928,
        -640
      ],
      "id": "4bd45737-5618-4995-94c0-d2eab6dadb41",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "clhl9QBUqFhI7oXq",
          "name": "Tariq's PineCone"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "batchSize": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        4896,
        -432
      ],
      "id": "fe21948a-6979-4693-ab6d-627f911cba70",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "fKqqttJzIvVUpQSk",
          "name": "Tariq's OpenAI"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "pdfLoader",
        "textSplittingMode": "custom",
        "options": {
          "splitPages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        5072,
        -432
      ],
      "id": "33d4e2ec-dffd-4d4b-a985-bc85e4564d84",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        5200,
        -240
      ],
      "id": "6d81de06-ecd7-43a8-bf3f-64d0e4d5ef9c",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "content": "## Storing - Vector DB",
        "height": 640,
        "width": 464
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4848,
        -704
      ],
      "id": "5966c3a6-6dc9-4d84-9b3a-47744f60c2e2",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Manual Search",
        "height": 256,
        "width": 832,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2896,
        272
      ],
      "typeVersion": 1,
      "id": "48b8724c-5496-42bf-8869-8ed26e725de4",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Get all products - mysewingmall.com",
        "height": 272,
        "width": 1536
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -160,
        912
      ],
      "id": "c3bf90cd-dad2-498a-ac41-8c52244d78e9",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Check if product is not scraped?",
        "height": 336,
        "width": 448,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1616,
        352
      ],
      "typeVersion": 1,
      "id": "3ce0dedf-1c3b-481c-a0ef-4a9207cd9d00",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Generate base fields",
        "height": 336,
        "width": 720,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2112,
        352
      ],
      "typeVersion": 1,
      "id": "ccc8b38b-a2b2-4f3a-8352-224d214b8d12",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Product Data Enrichment",
        "height": 256,
        "width": 480,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3392,
        688
      ],
      "typeVersion": 1,
      "id": "15ff2822-6a1a-44c1-9372-2b10d752d88c",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Push into DB",
        "height": 288,
        "width": 464,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4704,
        608
      ],
      "typeVersion": 1,
      "id": "74ab00de-9955-4f53-97bb-80d0f18b733b",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-pro-latest",
          "mode": "list",
          "cachedResultName": "models/gemini-pro-latest"
        },
        "messages": {
          "values": [
            {
              "content": "=\nROLE & MANDATE You are a Forensic Product Data Extractor & Technical Researcher. Your mandate is to construct a defensible, audit-ready technical profile for the product identified in the Input Context. Accuracy > Completeness. Assumptions must be explicit, bounded, and justified. DATA AUTHORITY HIERARCHY (NON-NEGOTIABLE) Tier 1 — Explicit Source Truth Treat Search Context + Input Variables as canonical truth. If a value is explicitly stated, do not override or reinterpret it. Tier 2 — Model-Specific Research (Controlled) Only permitted when: A Model Number or System Code is present, AND The field is missing from Tier 1. Use well-known industry specifications for that exact model or class. If multiple variants exist, select the most common base configuration and flag it as inferred. Tier 3 — Class-Based Estimation (Last Resort) Allowed only for: Weight Dimensions Motor type Voltage Estimation must follow industry norms for the product class (e.g., industrial flatbed lockstitch vs home portable). Never estimate speed, stitch type, needle system, or compatibility without a strong industry precedent. ANTI-HALLUCINATION CONTROLS No Guessing on Identity If product type (Machine vs Part vs Accessory) cannot be determined → STOP and return null fields. Compatibility Guardrail (CRITICAL) Compatible models must: Share the same system code, needle system, or mounting standard, OR Be explicitly documented as compatible in industry references. If uncertain, restrict to series-level compatibility (e.g., “Brother Industrial Lockstitch Flatbed Series”). Inference Labeling Every inferred or estimated value must be internally justified by: Product class Industry standard Material construction Never invent proprietary part numbers or unique features. Unit Discipline All outputs must be metric. Convert only from known standards; do not fabricate imperial values to convert. RESEARCH HEURISTICS 1. Product Classification (First Decision Gate) Determine ONE: Industrial Sewing Machine Home Sewing Machine Embroidery Machine Mechanical Part Electronic Component Accessory / Consumable This classification controls all downstream inference. 2. Compatibility Forensics If Machine: List generic ecosystem compatibility (needle system, bobbin type, foot type). If Part/Accessory: Identify specific machines or series it fits. Minimum 3, maximum 5 entries. No speculative cross-brand claims. 3. Physical Specifications Prefer manufacturer-published specs. If absent: Use class-standard dimensions. Weight estimation must reflect material (cast iron vs aluminum vs plastic). 4. Technical Specifications Motor type inferred strictly by machine class. Voltage inferred by: Source URL region OR Industry default (Industrial = 220–240V unless stated otherwise). Needle system must align with: Stitch type Machine class Industry norms REQUIRED OUTPUT FORMAT (STRICT JSON — NO COMMENTS, NO EXTRA KEYS) { \"sku\": \"{{ $json.output[0].content[0].text.sku }}\", \"product_name\": \"{{ $json.output[0].content[0].text.product_name }}\", \"brand_name\": \"{{ $json.output[0].content[0].text.brand_name }}\", \"model_num\": \"{{ $json.output[0].content[0].text.model_num }}\", \"part_system_code\": \"{{ $json.output[0].content[0].text.part_system_code }}\", \"product_designation\": \"string\", \"is_active\": true, \"net_weight_kg\": number, \"prod_length_cm\": number, \"prod_width_cm\": number, \"prod_height_cm\": number, \"gross_weight_kg\": number, \"pkg_length_cm\": number, \"pkg_width_cm\": number, \"pkg_height_cm\": number, \"ships_on_pallet\": false, \"emb_needle_count\": number, \"emb_head_count\": number, \"stitch_type\": \"string or null\", \"feed_mechanism\": \"string or null\", \"max_speed_spm\": number, \"motor_type\": \"string or null\", \"voltage\": \"string\", \"tip_type\": \"string or null\", \"compatible_models\": [ \"string\", \"string\", \"string\" ], \"source_url\": \"{{ $json.output[0].content[0].text.source_url }}\" } \nEXECUTION STANDARD Zero narrative. Zero markdown. Zero speculation. Output must be machine-ingestible, defensible, and production-safe.\n"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        3520,
        768
      ],
      "id": "e06adf27-8d00-4e86-a27d-0b59b890712a",
      "name": "Enrich Details Using Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "dzrgJJyRjUpdVYa7",
          "name": "Tariq's Gemini Key"
        }
      }
    },
    {
      "parameters": {
        "content": "# Industrial Product Scraper & Enrichment Pipeline\n\n## 1. Workflow Overview\n\nThis automated pipeline is designed to extract, normalize, and enrich industrial sewing machine data sourced from **mysewingmall.com**. The system selectively targets high-value industrial brands and applies a multi-model AI strategy—leveraging **GPT-4o** and **Google Gemini**—to standardize and infer technical specifications at scale.\n\nIn parallel, the pipeline identifies, downloads, and indexes official PDF instruction manuals into a **Pinecone Vector Database**, enabling future **Retrieval-Augmented Generation (RAG)** use cases and advanced semantic search.\n\n## 2. Core Objectives\n\n### Data Normalization\n- Transform unstructured and inconsistent HTML content into a **strict, predefined JSON schema**.\n- Enforce **metric units**, standardized field names, and controlled vocabularies for all technical attributes.\n\n### Data Enrichment\n- Infer missing or implicit technical specifications (e.g., **motor type**, **feed mechanism**, **needle system**) using contextual signals and domain knowledge.\n- Validate inferred attributes through cross-model consensus to improve accuracy and reliability.\n\n### Knowledge Base Construction\n- Programmatically locate and download official **PDF instruction manuals**.\n- Chunk, embed, and index documentation into **Pinecone** for high-performance semantic retrieval.\n- Lay the foundation for downstream **RAG-based assistants**, internal search tools, and technical Q&A systems.\n\n## 3. Outcome\n\nThe result is a scalable, production-ready data pipeline that converts fragmented product listings into a **clean, enriched, and queryable industrial product intelligence layer**, optimized for analytics, AI-driven applications, and long-term knowledge reuse.\n",
        "height": 1232,
        "width": 496,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5232,
        16
      ],
      "id": "8e32fa19-8dc0-4685-8af4-eca1a98ed0e6",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "quflidSPqqugtC62",
          "mode": "list",
          "cachedResultName": "MySewingMall Products",
          "cachedResultUrl": "/projects/VJoOabvX8ejRGlpp/datatables/quflidSPqqugtC62"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "is_active": true,
            "ships_on_pallet": false,
            "prod_length_cm": "={{ $json.prod_length_cm }}",
            "sku": "={{ $json.sku }}",
            "product_name": "={{ $json.product_name }}",
            "brand_name": "={{ $json.brand_name }}",
            "model_number": "={{ $json.product_designation }}",
            "product_designation": "={{ $json.product_designation }}",
            "net_weight_kg": "={{ $json.net_weight_kg }}",
            "prod_width_cm": "={{ $json.prod_width_cm }}",
            "prod_height_cm": "={{ $json.prod_height_cm }}",
            "emb_needle_count": "={{ $json.emb_needle_count }}",
            "emb_head_count": "={{ $json.emb_head_count }}",
            "stitch_type": "={{ $json.stitch_type }}",
            "feed_mechanism": "={{ $json.feed_mechanism }}",
            "max_speed_spm": "={{ $json.max_speed_spm }}",
            "motor_type": "={{ $json.motor_type }}",
            "voltage": "={{ $json.voltage }}",
            "part_system_code": "={{ $json.part_system_code }}",
            "tip_type": "={{ $json.tip_type }}",
            "compatible_models": "={{ $json.compatible_models?.toJsonString() || \"N/A\"}}",
            "source_url": "={{ $json.source_url }}",
            "manual_URL": "={{ $('Download PDF file').first()?.json?.output?.[0]?.content?.[0]?.text || \"N/A\" }}",
            "gross_weight_kg": "={{ $json.gross_weight_kg }}",
            "pkg_length_cm": "={{ $json.pkg_length_cm }}",
            "pkg_width_cm": "={{ $json.pkg_width_cm }}",
            "pkg_height_cm": "={{ $json.pkg_height_cm }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "sku",
              "displayName": "sku",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "product_name",
              "displayName": "product_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "brand_name",
              "displayName": "brand_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "model_number",
              "displayName": "model_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "product_designation",
              "displayName": "product_designation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "is_active",
              "displayName": "is_active",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "currency",
              "displayName": "currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "gross_weight_kg",
              "displayName": "gross_weight_kg",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "pkg_length_cm",
              "displayName": "pkg_length_cm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "pkg_width_cm",
              "displayName": "pkg_width_cm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "pkg_height_cm",
              "displayName": "pkg_height_cm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ships_on_pallet",
              "displayName": "ships_on_pallet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "net_weight_kg",
              "displayName": "net_weight_kg",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "prod_length_cm",
              "displayName": "prod_length_cm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "prod_width_cm",
              "displayName": "prod_width_cm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "prod_height_cm",
              "displayName": "prod_height_cm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "emb_needle_count",
              "displayName": "emb_needle_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "emb_head_count",
              "displayName": "emb_head_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "stitch_type",
              "displayName": "stitch_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "feed_mechanism",
              "displayName": "feed_mechanism",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "max_speed_spm",
              "displayName": "max_speed_spm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "motor_type",
              "displayName": "motor_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "voltage",
              "displayName": "voltage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "part_system_code",
              "displayName": "part_system_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "tip_type",
              "displayName": "tip_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "compatible_models",
              "displayName": "compatible_models",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "source_url",
              "displayName": "source_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "manual_URL",
              "displayName": "manual_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        5008,
        720
      ],
      "id": "cda8979a-7144-4c33-8205-f8a5a83ead0b",
      "name": "Insert Product Details"
    },
    {
      "parameters": {
        "maxItems": 4
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1232,
        1024
      ],
      "id": "dc566532-14bf-4485-a565-cbfce96673fc",
      "name": "Limit (Testing)",
      "disabled": true
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5024,
        976
      ],
      "id": "514143c3-7cb9-498d-9978-75d7ca1addb0",
      "name": "Wait",
      "webhookId": "5b2c0f88-71e6-45b2-aca8-b196c76decef"
    },
    {
      "parameters": {
        "jsCode": "// This node strips all JSON metadata but KEEPS the binary file\n// This fixes the 'Metadata size exceeded' error\n\nreturn [\n  {\n    json: {\n      status: \"cleaned\"\n    },\n    binary: $input.item.binary\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3968,
        -640
      ],
      "id": "d9788677-480e-4848-b4e3-b5342f70b673",
      "name": "Clean Metadata (Keep Binary)"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        3536,
        -640
      ],
      "id": "2553eed0-20a7-4e3c-b1b8-fcace92278e7",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "const { PDFDocument } = require('pdf-lib');\nreturn [{ json: { status: \"Library loaded successfully\" } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3792,
        -640
      ],
      "id": "1e6628bf-931b-4c3f-a9a7-e436728d0a19",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "Upload File to PDF.co",
        "binaryData": true,
        "name": "={{ $binary.data.fileName }}"
      },
      "type": "n8n-nodes-pdfco.PDFco Api",
      "typeVersion": 1,
      "position": [
        4192,
        -640
      ],
      "id": "c57a95c6-8cdc-4fcd-89bb-0ac617fc63e0",
      "name": "Upload to PDF.co",
      "credentials": {
        "pdfcoApi": {
          "id": "h2kWDzPXRogNEclK",
          "name": "Tariq's PDF.co"
        }
      }
    },
    {
      "parameters": {
        "operation": "Compress PDF",
        "url": "={{ $json.url }}",
        "advancedOptions": {}
      },
      "type": "n8n-nodes-pdfco.PDFco Api",
      "typeVersion": 1,
      "position": [
        4416,
        -640
      ],
      "id": "caa1dfbf-c83c-4cd7-83a6-eacbb7552af5",
      "name": "Compress PDF",
      "credentials": {
        "pdfcoApi": {
          "id": "h2kWDzPXRogNEclK",
          "name": "Tariq's PDF.co"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4624,
        -640
      ],
      "id": "57ba964f-3798-4434-83bf-9ed4576cb9e6",
      "name": "Download Compress PDF"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "quflidSPqqugtC62",
          "mode": "list",
          "cachedResultName": "MySewingMall Products",
          "cachedResultUrl": "/projects/VJoOabvX8ejRGlpp/datatables/quflidSPqqugtC62"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1648,
        1344
      ],
      "id": "0eb19159-0143-4fc9-aa72-c5340a852193",
      "name": "Get All Rows",
      "alwaysOutputData": false,
      "executeOnce": true
    }
  ],
  "pinData": {},
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "Format JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weekly Trigger": {
      "main": [
        [
          {
            "node": "Get MySewingMall Sitemap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get MySewingMall Sitemap": {
      "main": [
        [
          {
            "node": "XML to JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML to JSON": {
      "main": [
        [
          {
            "node": "Split URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split URLs": {
      "main": [
        [
          {
            "node": "Clean Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Data": {
      "main": [
        [
          {
            "node": "Filter Valid Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Valid Products": {
      "main": [
        [
          {
            "node": "Limit (Testing)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Get All Rows",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Already Pushed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Already Pushed?": {
      "main": [
        [
          {
            "node": "Not Pushed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Not Pushed?": {
      "main": [
        [
          {
            "node": "Fetch Product Page",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Product Page": {
      "main": [
        [
          {
            "node": "Filter Unwanted HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Unwanted HTML": {
      "main": [
        [
          {
            "node": "Generate base fields - GPT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate base fields - GPT": {
      "main": [
        [
          {
            "node": "Find Manual PDF - Serper",
            "type": "main",
            "index": 0
          },
          {
            "node": "Enrich Details Using Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Manual PDF - Serper": {
      "main": [
        [
          {
            "node": "Get best User-Manual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get best User-Manual": {
      "main": [
        [
          {
            "node": "Download PDF file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download PDF file": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format JSON": {
      "main": [
        [
          {
            "node": "Insert Product Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Enrich Details Using Gemini": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Insert Product Details": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit (Testing)": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Metadata (Keep Binary)": {
      "main": [
        [
          {
            "node": "Upload to PDF.co",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to PDF.co": {
      "main": [
        [
          {
            "node": "Compress PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compress PDF": {
      "main": [
        [
          {
            "node": "Download Compress PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Compress PDF": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Rows": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Clean Metadata (Keep Binary)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedPerExecution": 30
  },
  "versionId": "18e1d5b4-9376-4af5-9388-dcae97b0c30f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ac6baf0e3707d9e4488628932e69e4e8232a685fbd3d914025d3375f331c0e28"
  },
  "id": "fXf0AO9WqpaAV56o",
  "tags": [
    {
      "updatedAt": "2025-12-16T11:32:42.473Z",
      "createdAt": "2025-12-16T11:32:42.473Z",
      "id": "SBZkxS4CGQVXr5pu",
      "name": "In Progress"
    }
  ]
}